.bannerImage{
    grid-row: 1;
    background-image: url(../src/Copy\ of\ IMG_9752.jpeg);
    background-size: cover;
    background-position: center;
}

.degreeLabel{
    width: 100%;
    border-top: 1px black solid;
    border-bottom: 1px black solid;
    grid-row: 1;
    grid-column: 1 / span 6;
}

.peopleArea{
    display: grid;
    grid-template-rows: repeat(5, 1fr);
    border-radius: 5%;
    background-color: rgba(95, 113, 192, 0.548);
    width: 100%;
    height: 50vh;
    color: white;
}
    .profilePic{
        grid-row: 1 / span 2;
        justify-self: center;
        align-self: center;
        border-radius: 100%;
        height: 10vw;
        width: 10vw;
        background-color: grey;
    }

    .name{
        grid-row: 4;
        width: 100%;
        height: 100%;
    }
        .name h2 h4{
            justify-self: center;
            align-self: center; 
            color: white; 
        }
        .name a {
            color: white;
        }

        .name a:hover {
            color:gainsboro
        }
    .currentPlace{
        grid-row: 5;  
        width: 100%;
        height: 100%;
    }
      
        .currentPlace h3 {
            justify-self: center;
            align-self: center;  
        } 

/*This is test code for making a whole alumni element a link*/
.peopleArea1 a:hover {
    background-color: rgba(157, 169, 223, 0.548);
}
.peopleArea1 a{
    display: grid;
    grid-template-rows: repeat(5, 1fr);
    border-radius: 5%;
    background-color: rgba(95, 113, 192, 0.548);
    width: 100%;
    height: 42vh;
    color: white;
}
    .profilePic1{
        grid-row: 1 / span 2;
        justify-self: center;
        align-self: center;
        border-radius: 100%;
        height: 10vw;
        width: 10vw;
        background-color: grey;
    }

    .name1{
        grid-row: 4;
        width: 100%;
        height: 100%;
    }
        .name1 h2{
            justify-self: center;
            align-self: center;
            color: white;
        }
        .name1 a {
            color: white;
        }

    .currentPlace1{
        grid-row: 5;  
        width: 100%;
        height: 100%;
    }
        .currentPlace1 h3 {
            justify-self: center;
            align-self: center;  
        }


/*This is the PhD student alumni section code*/

.degreeTypePhD {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 1fr 2fr 2fr;
    column-gap: 10px;
    row-gap: 40px;
    margin-top: 20px;
    margin-left: 5%;
    margin-right: 5%;
    align-items: center;
    justify-items: center;
}

/*This is Masters Student Alumni section*/

.degreeTypeMasters {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 1fr 2fr 2fr;
    column-gap: 10px;
    row-gap: 40px;
    margin-top: 20px;
    margin-left: 5%;
    margin-right: 5%;
    align-items: center;
    justify-items: center;
}


/*This is the Undergraduate Student Alumni section*/
.degreeTypeUndergrad {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 1fr 2fr 2fr;
    column-gap: 10px;
    row-gap: 40px;
    margin-top: 20px;
    margin-left: 5%;
    margin-right: 5%;
    align-items: center;
    justify-items: center;
}

/*This is Post Grad Alumni section*/

.degreeTypePostDoc {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 1fr 2fr;
    column-gap: 20px;
    row-gap: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 5%;
    margin-right: 5%;
    align-items: center;
    justify-items: center;
}

/*Here are the profile images*/

/*PHD*/
#PhdOne .profilePic {
    background-image: url(../src/Profile\ Pictures/JustinProfile.jpg);
    background-position: center;
    background-size: contain;
}

#PhdTwo .profilePic {
    background-image: url(../src/Profile\ Pictures/wcurrier.jpg);
    background-position: right;
    background-size: cover;
}

#PhdThree .profilePic {
    background-image: url(../src/Profile\ Pictures/agunnarsson.jpg);
    background-position: center;
    background-size: cover;
}

#PhdFour .profilePic {
    background-image: url(../src/Profile\ Pictures/sdickerson.jpg);
    background-position: right;
    background-size: cover;
}

#PhdFive .profilePic {
    background-image: url(../src/Profile\ Pictures/bhenn.jpeg);
    background-position: center;
    background-size: cover;
}

#PhdSix .profilePic {
    background-image: url(../src/Profile\ Pictures/klapo.jpg);
    background-position: center;
    background-size: cover;
}

#PhdSeven .profilePic {
    background-image: url(../src/Profile\ Pictures/mraleigh.jpg);
    background-position: center;
    background-size: cover;
}

#PhdEight .profilePic {
    background-image: url(../src/Profile\ Pictures/nwayand.jpg);
    background-position: center;
    background-size: cover;
}

/*Masters*/

#mastersJoe .profilePic {
    background-image: url(../src/Profile\ Pictures/JoeProfile.jpg);
    background-position: center left;
    background-size: cover;
}

#mastersOne .profilePic {
    background-image: url(../src/Profile\ Pictures/AnnieProfilePic.jpg);
    background-position: center;
    background-size: cover;
}

#mastersTwo .profilePic {
    background-image: url(../src/Profile\ Pictures/VictoriaProfile.jpg);
    background-position: center;
    background-size: cover;
}

#mastersThree .profilePic {
    background-image: url(../src/Profile\ Pictures/dreynolds.png);
    background-position: center;
    background-size: cover;
}

#mastersFour .profilePic {
    background-image: url(../src/Profile\ Pictures/dbeal.jpg);
    background-position: center;
    background-size: cover;
}

#mastersFive .profilePic {
    background-image: url(../src/Profile\ Pictures/sfeld.jpg);
    background-position: center;
    background-size: cover;
}

#mastersSix .profilePic {
    background-image: url(../src/Profile\ Pictures/jforsyth.jpg);
    background-position: center;
    background-size: cover;
}

#mastersSeven .profilePic {
    background-image: url(../src/Profile\ Pictures/flott.jpg);
    background-position: left;
    background-size: cover;
}

#mastersEight .profilePic {
    background-image: url(../src/Profile\ Pictures/kmartin.jpg);
    background-position: right;
    background-size: cover;
}

#mastersNine .profilePic {
    background-image: url(../src/Profile\ Pictures/cmoore.jpg);
    background-position: center;
    background-size: cover;
}

#mastersTen .profilePic {
    background-image: url(../src/Profile\ Pictures/gperry.jpg);
    background-position: right;
    background-size: cover;
}

/*Undergraduate*/

#undergradJori .profilePic {
    background-image: url(../src/Profile\ Pictures/JoriProfile.jpg);
    background-position: center;
    background-size: cover;
}

#undergradAnnalise .profilePic {
    background-image: url(../src/Profile\ Pictures/Anna\ Profile\ Picture.PNG);
    background-position: top;
    background-size: cover;
}

#undergradAnnika .profilePic {
    background-image: url(../src/Profile\ Pictures/Annika\ profile\ picture.PNG);
    background-position: top;
    background-size: cover;
}

#undergradOne .profilePic {
    background-image: url(../src/Profile\ Pictures/hhampson.jpg);
    background-position: right;
    background-size: cover;
}

#undergradTwo .profilePic {
    background-image: url(../src/Profile\ Pictures/kknight.jpg);
    background-position: center;
    background-size: cover;
}

#undergradThree .profilePic {
    background-image: url(../src/Profile\ Pictures/mmozer.jpg);
    background-position: center;
    background-size: cover;
}

#undergradFour .profilePic {
    background-image: url(../src/Profile\ Pictures/Abillet.jpg);
    background-position: center;
    background-size: cover;
}

#undergradFive .profilePic {
    background-image: url(../src/Profile\ Pictures/cbutler.jpg);
    background-position: center;
    background-size: cover;
}

#undergradSix .profilePic {
    background-image: url(../src/Profile\ Pictures/afisher.jpg);
    background-position: right;
    background-size: cover;
}

#undergradSeven .profilePic {
    background-image: url(../src/Profile\ Pictures/ekeenan.jpg);
    background-position: left;
    background-size: cover;
}

#undergradEight .profilePic {
    background-image: url(../src/Profile\ Pictures/amassmann.jpg);
    background-position: center;
    background-size: cover;
}

#undergradNine .profilePic {
    background-image: url(../src/Profile\ Pictures/srose.jpg);
    background-position: center;
    background-size: cover;
}

#undergradTen .profilePic {
    background-image: url(../src/Profile\ Pictures/tthorson.jpg);
    background-position: center;
    background-size: cover;
}

#undergradEleven .profilePic {
    background-image: url(../src/Profile\ Pictures/CalistaProfile.jpg);
    background-position: center;
    background-size: cover;
}

/*Postdoc*/

#postDocOne .profilePic {
    background-image: url(../src/Profile\ Pictures/jdeems.jpg);
    background-position: center;
    background-size: cover;
}

#postDocTwo .profilePic {
    background-image: url(../src/Profile\ Pictures/jhelmschrot.jpg);
    background-position: center;
    background-size: cover;
}

    /*Here is the media query for the Tablet/Phone sizes*/
    @media only screen and (max-width: 1200px) {
        .peopleArea{
            grid-template-columns: 1fr 1fr 1fr;
            column-gap: 5px;
            grid-gap: 5px;
        }

        .profile a{
            width: 30vw;
            height: 20vh;       
        }
    }