.bannerImage{
    background-image: url(../src/Banner/Research.jpeg);
    background-size: cover;
    background-position: top;
}

a {
    color: rgb(61, 134, 173);
}

.researchContent {
    margin: 0 auto;
    max-width: 1200px;
    padding: 0 40px;
}

.indivProj{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto; /* Allows for flexible row height */
    gap: 20px; /* Space between grid items */
    justify-items: center; /* Ensures content is centered horizontally */
    align-items: center; /* Ensures content is centered vertically */
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    margin-bottom: 50px;
}

.projImage{
    grid-column: 2; /* Aligns image to the second column */
    width: 30vh;
    height: 30vh;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
/*
.projImage img{
    padding: 1vh;
    height: 38vh;
}
*/
.projInfo {
    grid-column: 1; /* Aligns text content to the first column */
    margin-left: 5%;
    margin-right: 5%;
    text-align: center;
}

    .projInfo h1 {
        font-size: calc(0.5vw + 20px);
    }

    .projInfo p {
        font-size: 1.25vw;
    }

/*Here are the filepaths for the profile pictures*/

/*Current Research*/
#profMissingSnow{
    background-image: url(../src/GothicMtn.jpeg);
    background-position: center;
    background-size: cover;
}
#profRepeatingSnowPatterns{
    background-image: url(../src/SnowPatternsGraphic.jpg);
    background-position: center;
    background-size: cover;
}
#profSOS{
    background-image: url(../src/NewSOSLogoAlone.jpg);
    background-position: center;
    background-size: cover;
}
#profSIFWD{
    background-image: url(../src/Laura_wildlife_diagram.png);
    background-position: center;
    background-size: cover;
}
#profForestsAndSnow{
    background-image: url(../src/CassieAndStevenFieldWork.jpg);
    background-position: right;
    background-size: cover;
}

#profSASSSASITS{
    background-image: url(../src/NASA_S6_overview_figure.jpg);
    background-position: center;
    background-size: cover;
}

#profSnowIR {
    background-image: url(../src/homepagepic.jpeg);
    background-position: center;
    background-size: cover;
}

#profICESat{
    background-image: url(../src/Methowshot.jpeg);
    background-position: center;
    background-size: cover;
}
/*Past Research*/

/*Currently Blank as there is not enough content, if time allows simply fill in the URL*/
#prof{
    background-image: url();
    background-position: center;
    background-size: cover;
}
#prof{
    background-image: url();
    background-position: center;
    background-size: cover;
}
#prof{
    background-image: url();
    background-position: center;
    background-size: cover;
}
#prof{
    background-image: url();
    background-position: center;
    background-size: cover;
}
#prof{
    background-image: url();
    background-position: center;
    background-size: cover;
}
#prof{
    background-image: url();
    background-position: center;
    background-size: cover;
}

/*Data*/
/*Snoqualmie Pass*/
#profSnoqualmie {
    background-image: url(../src/070817-231902.jpg);
    background-position: center;
    background-size: cover;
}

/*Cedar River Watershed*/
#profCedarRiver{
    background-image: url(../src/080904-132032.jpg);
    background-position: center;
    background-size: cover;
}

/*Mt Rainier National Park*/
#profRainier{
    background-image: url(../src/Copy\ of\ IMG_7435.jpeg);
    background-position: center;
    background-size: cover;
}

/*North Cascades National Park*/
#profNorthCascades{
    background-image: url(../src/080927-223706.jpg);
    background-position: center;
    background-size: cover;
}

/*Yosemite National Park*/
#profYosemite{
    background-image: url(../src/DataImages/HannahXS.JPG);
    background-position: top;
    background-size: cover;
}

/*Niwot*/
#profNiwot{
    background-image: url(../src/NASA_S6_overview_figure.jpg);
    background-position: center;
    background-size: cover;
}

/*Sublimation of Snow Weather Blog*/
#profSOSData{
    background-image: url(../src/DannyAndEliSnowPit.jpg);
    background-position: left;
    background-size: cover;
}

.slide-in {
    transform: translateX(-100%);
    animation: slideIn 1s forwards;
}

@keyframes slideIn {
    to {
        transform: translateX(0);
    }
}
