.bannerImage{
    grid-row: 1;
    background-image: url(../src/Copy\ of\ IMG_9752.jpeg);
    background-size: cover;
    background-position: center;
}

.peopleMain {
    margin-top: 20px;
    margin-bottom: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    column-gap: 20px;
    grid-gap: 30px;
    align-items: center;
    justify-items: center;
    margin-left: 5%;
    margin-right: 5%;
    text-decoration: none;

}
.backgroundMain {
    color:rgb(255, 255, 255);
    /* background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.901) , rgba(217, 229, 252, 0.949));*/
    /*background-image: url("../src/DJI_0920-2.jpg");*/
    background-color: rgb(255, 255, 255);
    background-position: top;
    background-size:cover;
    background-repeat: no-repeat;
}
.profile{
    width: 260px;
    height: 340px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.profile a:hover {
    background-color: rgb(204, 217, 229);
}
.profile a{
    padding: 18px 16px 14px 16px;
    color: rgb(0, 0, 0);
    width: 100%;
    max-width: 260px;
    height: 320px;
    display: grid;
    grid-template-rows: 4fr 2fr;
    border-radius: 5%;
    background-color:  rgb(226, 236, 245);
    overflow: hidden;
}
.profilePicture{
    justify-self: center;
    align-self: center;
    grid-row: 1;
    height: clamp(120px, 12vw, 170px);
    width: clamp(120px, 12vw, 170px);
    border-radius: 100%;
}
.profile .labelProfile {
    display: block;
    grid-row: 2;
    align-self: end;
    justify-self: center;
    text-align: center;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 90px;
}

.profile .labelProfile h3 {
    font-size: clamp(1.1rem, 1.5vw, 1.4rem);
    margin: 4px 0;
    line-height: 1.2;
    display: -webkit-box;
    line-clamp: 2;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.profile .labelProfile h4 {
    font-size: clamp(0.95rem, 1.3vw, 1.2rem);
    margin: 3px 0;
    line-height: 1.2;
    display: -webkit-box;
    line-clamp: 2;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}


    #profOne .profilePicture{
        background-image: url(../src/Profile\ Pictures/JessicaProfile.jpg);
        background-position: top;
        background-size: cover;
    }


    #profKehan .profilePicture{
        background-image: url(../src/KehanYang_MHG_website.jpeg);
        background-position: top;
        background-size: cover;
    }

    #profThree .profilePicture{
        background-image: url(../src/Profile\ Pictures/DannyProfile.jpg);
        background-position: center;
        background-size: cover;
    }

    #profSix .profilePicture{
        background-image: url(../src/Profile\ Pictures/HannahProfile.jpg);
        background-position: center;
        background-size: cover;
    }



    #profRoss .profilePicture{
        background-image: url(../src/Profile\ Pictures/RossProfile.jpg);
        background-position: bottom;
        background-size: cover;
    }

    #profEli .profilePicture{
        background-image: url(../src/Profile\ Pictures/EliProfile.jpg);
        background-position: right;
        background-size: cover;
    }

    #profClinton .profilePicture{
        background-image: url(../src/Profile\ Pictures/ClintonProfile.jpeg);
        background-position: left;
        background-size: cover;
    }
    
    #profEmma .profilePicture{
        background-image: url(../src/Profile\ Pictures/SmallEmmaWaider.jpg);
        background-position: right;
        background-size: cover;
    }

    #profRunxin .profilePicture{
        background-image: url(../src/Profile\ Pictures/Runxin.jpeg);
        background-position: center;
        background-size: cover;
    }
    #profGus .profilePicture{
        background-image: url(../src/Profile\ Pictures/Gus_Profile.jpg);
        background-position: center;
        background-size: cover;
    }
    #profEva .profilePicture{
        background-image: url(../src/Profile\ Pictures/EvaProfile.jpeg);
        background-position: center;
        background-size: cover;
    }

    #profPau .profilePicture{
        background-image: url(../src/Profile\ Pictures/Pau.jpg);
        background-position: center;
        background-size: cover;
    }

    /*Here is the media query for the Tablet/Phone sizes*/
    @media only screen and (max-width: 1200px) {
        .peopleMain{
            grid-template-columns: 1fr 1fr 1fr;
            grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
            column-gap: 5px;
            grid-gap: 20px;
        }

        .profilePicture {
            width: 15vw;
            height: 15vw;
        }
        
        .labelProfile {
            font-size: 2vw;
        }
    }

/*This is for phones*/
    @media only screen and (max-width: 600px) {
        .peopleMain{
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
            column-gap: 0px;
            grid-gap: 0px;
            row-gap: 10px;
        }

        .profilePicture {
            width: 28vw;
            height: 28vw;
        }
        
        .labelProfile {
            font-size: 3vw;
            text-align: center;
        }
    }
