/*
This is the main CSS file that applies to all pages in the site. This include the header, footer, banner/banner menu, as well as general font and style
conventions followed in the site.

Jori Carter
*/

body, html {
    font-family: "Raleway", Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background-color: rgb(255, 255, 255);
}

a {
    text-decoration: none;
}

/*Animations*/
@keyframes buttonFlash {
    0% {opacity: 100%}
    50% {opacity: 0%;}
    100% {opacity: 100%;}
}

@keyframes introFade {
    0% {
        Opacity: 0%;
    }
    100% {
        Opacity: 100%;
    }
}

/*Heading*/
.heading {
    color: rgb(255, 255, 255);
    display: grid;
    grid-template-columns: 30% 10% 1fr;
    top: 0;
    position: fixed;
    height: 10vh;
    width: 100vw; 
    text-decoration: none; 
    background-color: #333333;
    justify-content: center;
    z-index: 1;

}

.title{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    grid-column: 1 / span 1;
}

    .title h1{
        font-size: 1.4em;
    }

.navBar {
    grid-column-start: 3;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 3%;
}

.mainMenuOption {
    align-self: center;
    padding: 3%;
}

.mainMenuOption a {
    color: white;
    font-size: 1.2em;
}

.heading img {
    height: 10vh;
    margin: 0 2%;
}

.mainMenuOption a:hover{
    color: grey;
    cursor: pointer;
    border-bottom: 2px #c7c7c7;
}

.subMenu{
    padding: 2%;
    padding-left: 0.5%;
    display: none;
    position: absolute;
    z-index: 1;
    background-color: #333333;
}
.subMenu a{
    display: block;
    padding: 1% 0;
    
}

.mainMenuOption:hover .subMenu, .subMenu:hover{
    display: block;
}

#current{
    color: rgb(187, 187, 187);
}

/* Banner and Time Menu Component */
.banner{
    display: grid;
    margin-top: 10vh;
    width: 100vw;
    height: 36.67vh;
    grid-template-rows: 81% 19%;
    background: linear-gradient(90deg, #464646, #8890aa) ;
    color: white;
}
.bannerImage{
    grid-row: 1;
    background-size: 100vw;
    background-position: center;
}
.bannerImage h1{
    justify-self: center;
    font-size: 3em;
}
.timeMenu{
    align-self: center;
    justify-self: center;
    grid-row: 2;
    font-size: 1.2em;
    text-decoration: none;
    color: white
}
.timeMenu a+a::before{
    content: '||  ';
    color: white;
}
.timeMenu a {
    color: white;
}
.timeMenu a:hover {
    color: rgb(187, 187, 187)
}


/* Footer */
.footer {
    display: grid;
    margin: 0;
    padding: 0;
    grid-template-columns: 1fr 1fr 1fr;
    height: 15vh;
    width: 90vw;
    justify-self: center;
    align-self: center;
}

.UWLogo{
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

.UWLogo img{
    height: 70%;
}

@media only screen and (max-width: 600px) {
    
  }