/*Index page content*/

/*Main Content*/
.page{
    height: 800px;
    width: 100vw;
    color: rgb(255, 255, 255);
    display: grid;
    grid-template-columns: 10% 30% 10% 10% 30% 10%;
    grid-template-rows: 20% 6.67% 46.6% 6.67% 6.67% 1fr;
}

#pageOne {
    background-image: url("../src/MntBaker_Ridge_1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 70%;
}

#pageTwo {
    background-color: white;
}

.meetTheTeam{
    height: 1300px;
    color:rgb(255, 255, 255);
    background-image: url("../src/BoundaryWatersTrip2020-0555\ -\ Copy.jpg");
    background-position: bottom;
    background-size: cover;
    background-repeat: no-repeat;
}

    .profileSpace {
        padding: 5%;
        width: 90%;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-gap: 5% 2%;
    }

.scrollDown{
    grid-row: 6;
    grid-column: 3 / span 2;
    height: 10vh;
}

.scrollButton{   
    height: 100%;
    display: grid;
}

.scrollButton img{
    justify-self: center;
    height: 75%;
}

/*Info boxes and Drawings */
.webTitle{
    grid-column: 2 / span 4;
    grid-row: 4 / span 2;
    font-size: 1.8em;
    animation-name: introFade;
    animation-duration: 2s;
}
.initialInfo{
    grid-column: 2/ span 2;
    grid-row: 3/ span 2;
    font-size: 1.2em;
    padding: 1.5% 3%;
    background-color: rgba(0, 0, 0, 0.596);
    height: auto;
    border-radius: 1%;
}

    #infoLeft {
        grid-column: 2/ span 2;
        grid-row: 3;
    }

    #infoRight {
        grid-column: 4/ span 2;
    }

.illustrationSpace{ 
    grid-row: 2 / span 4;
}

    #illusRight{
        grid-column: 5 / span 1;
        animation-name: introFade;
        animation-duration: 1s;
    }

    #illusLeft{
        grid-column: 2 / span 1;
    }

    .illustrationSpace img{
        height: 100%
    }
.initInfoBold{
    text-decoration: underline;
}

/* Profiles */
.profile {
    display: grid;
    grid-template-rows: 4fr 2fr;
    background-color: rgba(255, 255, 255, 0.534);
    border-radius: 7%;
    color: rgb(0, 0, 0);
    align-items: center;
    justify-items: center;
}
.profilePicture{
    grid-row: 1;
    height: 170px;
    width: 170px;
    border-radius: 100%;
}
.profile .labelProfile {
    display: block;
    grid-row: 2;
    align-self: end;
    justify-self: center;
}

.meetTheTeam h1{
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 4%;
    font-size: 3.5em;
    color: black
}

    /*Profile pictures*/
    #profOne .profilePicture{
        background-image: url(../src/Profile\ Pictures/JessicaProfile.jpg);
        background-position: top;
        background-size: cover;
    }

    #profTwo .profilePicture{
        background-image: url(../src/Profile\ Pictures/ncristea.png);
        background-position: center;
        background-size: cover;
    }

    #profKehan .profilePicture{
        background-image: url(../src/KehanYang_MHG_website.jpeg);
        background-position: top;
        background-size: cover;
    }

    #profThree .profilePicture{
        background-image: url(../src/Profile\ Pictures/DannyProfile.jpg);
        background-position: center;
        background-size: cover;
    }

    #profFour .profilePicture{
        background-image: url(../src/Profile\ Pictures/StevenProfile.jpg);
        background-position: center;
        background-size: cover;
    }

    #profFive .profilePicture{
        background-image: url(../src/Profile\ Pictures/CassieProf.jpg);
        background-position: center;
        background-size: cover;
    }

    #profSix .profilePicture{
        background-image: url(../src/Profile\ Pictures/HannahProfile.jpg);
        background-position: center;
        background-size: cover;
    }

    #profSeven .profilePicture{
        background-image: url(../src/Profile\ Pictures/JoeProfile.jpg);
        background-position: center left;
        background-size: cover;
    }

    #profMatthew .profilePicture{
        background-image: url(../src/Profile\ Pictures/MatthewProfile.jpg);
        background-position: center;
        background-size: cover;
    }

    #profRoss .profilePicture{
        background-image: url(../src/Profile\ Pictures/RossProfile.jpg);
        background-position: bottom;
        background-size: cover;
    }
    
    #profEli .profilePicture{
        background-image: url(../src/Profile\ Pictures/EliProfile.jpeg);
        background-position: bottom;
        background-size: cover;
    }

    #profJohn .profilePicture{
        background-image: url(../src/Profile\ Pictures/JohnProfile.jpg);
        background-position: center;
        background-size: cover;
    }

    /*Tablet and Phone screens*/
    @media only screen and (max-width: 1200px) {
        .page{
            height: 100vh;
            width: 100vw;
            color: white;
            display: grid;
            grid-template-columns: 15% 70% 15%;
            grid-template-rows: 15% 70% 15%;
        }
        
        #pageOne {
            background-image: url("../src/MntBaker_Ridge_1.jpg");
            background-size: cover;
            background-repeat: no-repeat;
            background-position: left center ;
        }
        
        #pageTwo {
            background-color: white;
        }
        
        .webTitle{
            grid-column: 2 / span 4;
            grid-row: 4 / span 2;
            font-size: 1.8em;
            animation-name: introFade;
            animation-duration: 2s;
        }
        .initialInfo{
            font-size: 1.2em;
            padding: 1.5% 3%;
            background-color: rgba(0, 0, 0, 0.541);
            height: auto;
            border-radius: 1%;
        }
        
            #infoLeft {
                grid-row: 3;
                grid-column: 2;
                font-size: 1em;
            }
        
            #infoRight {
                grid-column: 2;
                grid-row: 2;
            }
        .illustrationSpace{
            display: flex;
            justify-content: center;
        }
            #illusRight{
                animation-name: introFade;
                animation-duration: 1s;
                height: 100%;
                grid-column: 2; 
                grid-row: 2;
            }
        
            #illusLeft{
                grid-column: 2;
                grid-row: 2;
                visibility: hidden;
            }
        
            .illustrationSpace img{
                height: 80%;
                opacity: 0.8;
            }
        .initInfoBold{
            text-decoration: underline;
        }


        .meetTheTeam{
            height: 1800px;
            width: 100vw;
            color:rgb(255, 255, 255);
            background-image: url("../src/BoundaryWatersTrip2020-0555\ -\ Copy.jpg");
            background-position: bottom;
            background-size: cover;
            background-repeat: no-repeat;
        }
        
            .profileSpace {
                padding: 5%;
                width: 90%;
                display: grid;
                grid-template-columns: 1fr 1fr 1fr;
                grid-gap: 5% 2%;
            }
        
    }
    @media only screen and (max-width: 600px) {
        .meetTheTeam{
            height: 2600px;
            width: 100vw;
            
        }
            .profileSpace {
                padding: 5%;
                width: 90%;
                display: grid;
                grid-template-columns: 1fr 1fr;
                grid-gap: 5% 2%;
            }
    }