/*
This is the main CSS file that applies to all pages in the site. This include the header, footer, banner/banner menu, as well as general font and style
conventions followed in the site.

Jori Carter
*/

body, html {
    font-family: "Raleway", Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}


/*Animations*/
@keyframes buttonFlash {
    0% {opacity: 100%}
    50% {opacity: 0%;}
    100% {opacity: 100%;}
}

@keyframes introFade {
    0% {
        Opacity: 0%;
    }
    100% {
        Opacity: 100%;
    }
}

/*Heading*/
.heading {
    color: rgb(255, 255, 255);
    display: grid;
    grid-template-columns: 40% 10% 1fr;
    top: 0;
    position: fixed;
    height: 10vh;
    width: 100vw; 
    text-decoration: none; 
    background-color: #333333;
    justify-content: center;
    z-index: 1;
}

.title{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    grid-column: 1 / span 1;
}

    .title h1{
        font-size: 1.4vw;
    }

.navBar {
    grid-column-start: 3;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 3%;
    height: 100%;
}

.mainMenuOption {
    align-self: center;
    padding: 3%;
}

.mainMenuOption a {
    color: white;
    font-size: 1.2vw;
}

.heading img {
    height: 10vh;
    margin: 0 2%;
}

.mainMenuOption a:hover{
    color: grey;
    cursor: pointer;
    border-bottom: 2px #c7c7c7;
}

.subMenu{
    padding: 2%;
    padding-left: 0.5%;
    display: none;
    position: absolute;
    z-index: 1;
    background-color: #333333;
}
.subMenu a{
    display: block;
    padding: 1% 0;
    
}

.mainMenuOption:hover .subMenu, .subMenu:hover{
    display: block;
}

#current{
    color: rgb(187, 187, 187);
}

.navBarPhone{
    visibility: hidden;
}

/*Drop Down Menu Component --> NOTICE: This component is only visible when using the media query*/
.dropdownMenu{
    visibility: hidden;
    position: fixed;
    color: white;
    background-color: #252525;
    margin-top: 10vh;
    display: flex;
    justify-content: center;
    padding: 2%;
    width: 100vw;
    z-index: 1;
}
    .dropdownMenu li {
        padding: 10px;
        text-decoration: none;
        list-style-type: none;
        font-size: 10px;
    }
    .dropdownMenu a {
        color: white;
        text-decoration: none;
        font-size: 1.2vw;
    }

/* Banner and Time Menu Component */
.banner{
    display: grid;
    margin-top: 10vh;
    width: 100vw;
    height: 36.67vh;
    grid-template-rows: 81% 19%;
    background: linear-gradient(90deg, #464646, #8890aa) ;
    color: white;
}
.bannerImage{
    grid-row: 1;
    background-size: 100vw;
    background-position: center;
}
.bannerImage h1{
    width: 100%;
    height: 100%;
    align-self: center;
    text-align: center;
    font-size: 5vw;
}
.timeMenu{
    align-self: center;
    justify-self: center;
    grid-row: 2;
    font-size: 1.2vw;
    text-decoration: none;
    color: white
}
.timeMenu a+a::before{
    content: '||  ';
    color: white;
}
.timeMenu a {
    color: white;
}
.timeMenu a:hover {
    color: rgb(187, 187, 187)
}


/* Footer */
.footer {
    display: grid;
    margin: 0;
    padding: 0 5vw;
    grid-template-columns: 1fr 1fr 1fr;
    height: 100%;
    width: 90vw;
    background-color: #333333;
    color: white;
}

.footer a {
    color: white;
}

a:hover {
    color:rgb(187, 187, 187);
}

.UWLogo{
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

.UWLogo img{
    height: 60%;
}


/*Here is the media query for the Tablet/Phone sizes*/
@media only screen and (max-width: 1200px) {
    .heading {
        grid-template-columns: 85% 15%;
    }
    .navBar {
        grid-column: 2;
    }
    .dropdownMenu{
        visibility: visible;
    }
        .mainMenuOption {
            visibility: hidden;
        }
        .navBarPhone {
            visibility: visible;
        }
    .footer {
        display: grid;
        margin: 0;
        padding: 0 5vw;
        grid-template-columns: 1fr 1fr;
        height: 60%;
        width: 90vw;
    }
    .joinUs {
        visibility: hidden;
    }
    .copyRights {
        grid-column: 1;
    }
    .UWLogo{
        grid-column: 2;
        opacity: 0.8;
        justify-content: flex-end;
        width: 25vw;
    }
  }

  @media only screen and (max-width: 850px) {
    .footer {
        display: grid;
        margin: 0;
        padding: 0 5vw;
        grid-template-rows: 1fr 1fr;
        height: 60%;
        width: 90vw;
        justify-content: center;
    }
    .joinUs {
        visibility: hidden;
    }
    .copyRights {
        grid-column: row;
        justify-content: center;
    }
    .UWLogo{
        grid-row: 2;
        opacity: 0.8;
        justify-content: center;
        width: 25vw;
    }
  }