.bannerImage{
    background-image: url(../src/Copy\ of\ IMG_9727.jpeg);
    background-size: cover;
    background-position: center;
}

.mainNewsContent {
    margin: 0 5vw;
    width: 90vw;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.newsPanel{
    grid-column: 1;
    width: 100%;
}

.titleNews{
    width: 50%;
    margin: 20px 25%;
}

    .news {
        width: 90%;
        padding: 2%;
        background-color: rgb(236, 235, 235);
        margin: 2% 0;
    }
        .news h1 {
            font-size: 2vw;
            margin: 0;
        }
        .news h2 {
            font-size: 1.5vw;
            padding-bottom: 5px;
        }

.twitterBoard {
    grid-column: 2;
    height: 95%;
    width: 90%;
    padding: 5%;
}

/*Media Queries*/
@media only screen and (max-width: 1200px) {

}



