.bannerImage{
    background-image: url(../src/Copy\ of\ IMG_9727.jpeg);
    background-size: cover;
    background-position: center;
}

.mainOutreach {
    width: 100vw;
    background-color: white;
    height: 100%;
}

.gridStructureOutreach {
    width: 85%;
    margin: 7.5%;
    display: grid;
    column-gap: 5%;
    grid-template-columns: 1fr 1fr;
    row-gap: 5%; 
    grid-template-rows: 1fr 1fr;
}

.gridStructureItem {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 2em;
    background-color: rgb(84, 97, 139);
    width: 100%;
    height: 200px;
}

    .gridStructureItem a {
        color: white;
    }

    .gridStructureItem a:hover {
        color: grey;
    }
