.bannerImage{
    grid-row: 1;
    background-image: url(../src/Copy\ of\ IMG_9752.jpeg);
    background-size: cover;
    background-position: center;
}

.profileFull {
    margin-top: 2vh;
    margin-left: 5vw;
    margin-right: 5vw;
    display: grid;
    grid-template-columns: repeat(10, 9vw);
    grid-template-rows: repeat(8, 20vh);
    row-gap: 2%;
}


.firstBar {
    grid-row: 1 / span 2;
    grid-column: 1 / span 10;
    display: flex;
    background-color: #255996;
}

    .mainPicture {
        height: 100%;
        background-color: white;
        padding-right: 2%;
    }

    .mainPicture img{
        height: 100%;
    }

    .titleFull {
        color: white;
        padding-left: 5%;
        height: 100%;
        width: 50%;
    }

.secondBar {
    grid-row: 3 / span 2;
    grid-column: 1 / span 10;
    display: flex;
    justify-content: flex-end;
    align-content: center;
}
    .bioDesc {
        padding: 0 5%;
    }
    .bioDesc p {
        font-size: 100%;
    }

    .bioDesc a {
        color: black;
    }

    .bioDesc a:hover {
        color: rgb(78, 78, 78)
    }

    .secondPicture {
        height: 100%
    }
    .secondPicture img{
        height: 100%
    }

.thirdBar{
    grid-row: 5 / span 2;
    grid-column: 1 / span 10;
    display: flex;
    justify-content: flex-start;
    align-content: center;
    color: white;
    background-color: #255996;
}
.tertiaryPicture, iframe{
    height: 100%;
    padding-right: 2%; 
    background-color: #ffffff;
}

.tertiaryPicture img{
    height: 100%;
    
}

.notablePubLinks {
    padding: 0 2%;
    font-size: 18px;
}

/*Here is the media query for the Tablet/Phone sizes*/
@media only screen and (max-width: 1200px) {
    .profileFull {
        display: block;
        margin-top: 2vh;
        margin-left: 5vw;
        margin-right: 5vw;
    }
    
    
    .firstBar {
        display: flex;
        height: 40vh;
        width: 100%;
        background-color: #255996;
        justify-content: center;
    }
    
        .mainPicture {
            visibility: hidden;
        }
    
        .titleFull {
            color: white;
            height: 100%;
            width: 100%;
            justify-content: center;
        }
    
    .secondBar {
        display: flex;
        justify-content: flex-start;
        align-content: center;
    }
        .secondPicture {
            visibility: hidden;
        }
        .bioDesc p {
            font-size: 100%;
            width: 100%;
        }
    
    .thirdBar{
        width: 90vw;
        display: flex;
        justify-content: flex-start;
        align-content: center;
    
    }
    .tertiaryPicture, iframe{
        visibility: hidden;
    }
  }