.bannerImage{
    grid-row: 1;
    background-image: url(../src/Copy\ of\ IMG_9752.jpeg);
    background-size: cover;
    background-position: center;
}

.MissingSnowbannerImage{
    grid-row: 1;
    background-image: url(../src/GothicPano.jpg);
    background-size: cover;
    background-position: 0px -60px;
}
    .MissingSnowbannerImage h1{
        width: 100%;
        height: 100%;
        align-self: center;
        text-align: center;
        font-size: 5vw;
    }

.profileFull {
    width: 90%;
    display: grid;
    grid-template-columns: 1fr 3fr;
    margin: auto;
}

a {
    color: blueviolet;
}
    a:hover {
        color: grey
    }

.sideBar {
    grid-column: 1;
    padding-right: 5%;
    padding-top: 10%;
    width: 315px;
    display: block;
}

    .sideBar img {
        width: 25vw;
    }

    .sideBar li {
        font-size: 1.3em;
        list-style: circle; 
        padding-bottom: 20px;
        margin-top: 20px;
        border-bottom: solid;
        border-width: 1px;
        border-color:#c9c6c6;
    }

    .mainPicture {
        border-radius: 100%;
        height: 300px;
        width: 300px;
        /*padding-left: 5vw*/
    }

    .titleFull {
        text-align: center;
    }

        .titleFull h1 {
            font-size: 2vw;
            padding-top: 20px;
            padding-bottom: 20px;
            border-top: 1px solid black;
            border-bottom: 1px solid black;
        }

        .titleFull h2 {
            font-size: 2vw;
            padding-top: 20px;
            padding-bottom: 20px;
            border-top: 1px solid black;
            border-bottom: 1px solid black;
        }
        .titleFull li, p {
            font-size: 1.25vw;
            text-align: left;
        }
.mainTextArea {
    grid-column: 2;
    padding: 5% 10% 10% 10%;
}

    .mainTextArea img, iframe {
        width: 70%;
        display: block;
        margin: auto; 
    }

    .mainTextArea p, li {
        font-size: 1.25vw;
        padding: 1%;
    }

    .mainTextArea h2 {
        font-size: 1.75vw;
    }

    .mainTextArea h1 {
        text-align: center;
    }
/*This is code specifically for the graduate page*/
    .linkarea {
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        row-gap: 5%;
        column-gap: 5%;
        padding-bottom: 5%;

    }
        .linkarea li {
            border-bottom: solid;
            border-top: solid;
            border-width: 1px;
            border-color:#c9c6c6;
            padding: 30px 0 30px 0;
            font-size: 17px;
        }
    /*This is code for the graduate page time menu*/

.linklist {
    width: 100%;
}
        .linklist h2{
            width: 100%;
            font-size: 1.7em;
            color: black;
            padding-top: 20px;
            padding-bottom: 20px;
            border-top: 1px solid black;
            border-bottom: 1px solid black;
        }
        
        .linklist li{
            font-size: 1.3em;
            list-style: circle; 
            padding-bottom: 20px;
            margin-top: 20px;
            border-bottom: solid;
            border-width: 1px;
            border-color:#c9c6c6;
            
        }
.blueLink {
    color: rgb(255, 255, 255)
}

.videocontent {
    grid-column: 2;
    padding: 5% 10% 10% 10%;
}
    .videocontent iframe {
        width: 90%;
        height: 30vw;
        display: block;
        margin: auto;
    }

    .videocontent img {
        width: 90%;
        height: 30vw;
        display: block;
        margin: auto;
    }

    .videocontent h1 {
        text-align: center;
        font-size: 3vw;
    }

    .videocontent h2 {
        font-size: 2vw;
    }

    .videocontent p {
        font-size: calc(10px + 0.75vw);
    }

/*Media Queries - tablet*/
@media only screen and (max-width: 1200px) {
    .profileFull {
        width: 100vw;
        display: block;
    }
    
    .sideBar{
        width: 100%;
        padding: 3% 0 0 0;
    }
        .sideBar img{
            display: block;
            width: 25%;
            margin: auto;

        }

        .sideBar li {
            margin-left: -3vw;
            margin-right: -0.01vw;
            font-size: 2vw;
        }

        .sideBar h1 {
            font-size: 3.5vw;
        }
    
        .mainPicture {
            border-radius: 100%;
            height: 25vw;
            width: 25vw;
            margin: 2vh 37.5vw;
        }
        .titleFull {
            text-align: center;
            vertical-align: top;
            
        }
            .titleFull h1{
                font-size: 3.5vw;
            }
            .titleFull h2{
                font-size: 2vw;
            }
            .titleFull h3{
                font-size: 1.5vw;
            }

            .titleFull p, li {
                margin: 2vh 37.5vw;
                text-align: center;
            }
    
    .mainTextArea {
        /*padding: 5vw;*/
        width: 80vw;
    }

        .mainTextArea h2 {
            text-align: center;
            font-size: 3.5vw;
        }

        .mainTextArea li {
            margin-left: -1vw;
            margin-right: -1vw;
            text-align: left;
            font-size: calc(20px + 0.5vw);
        }

        .mainTextArea p {
            font-size: calc(20px + 0.5vw);
        }
    .linkarea {
        width: 80vw;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        column-gap: 5%;
       
    }
        .linkarea li {
            margin-left: -1vw;
            margin-right: -1vw;
        }


    .linklist {
        text-align: center;
        /*display: none;*/
    }
        .linklist h1 {
            font-size:3vw;
        }

        .linklist h2 {
            font-size: calc(20px + 0.5vw);
        }

        .linklist li {
            font-size: calc(15px + 0.5vw);
        }

    .videocontent {
        padding: 3% 10% 10% 10%;
    }
    .videocontent iframe {
        width: 90%;
        height: 40vw;
    }

    .videocontent img {
        width: 90%;
        height: 40vw;
    }

    .videocontent p {
        font-size: calc(20px + 0.5vw);
    }

    .videocontent li {
        font-size: calc(20px + 0.5vw);
        margin-left: -1vw;
        margin-right: -1vw;
    }

    .videocontent h1 {
        font-size: 4vw;
    }

    .videocontent h2 {
        font-size: 4vw;
        text-align: center;
    }
    
}


/*Phone Users*/
@media only screen and (max-width: 500px) {

    .profileFull {
        width: 100vw;
        display: block;
    }
    
    .sideBar{
        width: 100%;
        padding: 3% 0 0 0;
    }
        .sideBar img{
            display: block;
            width: 100%;
            margin: auto;

        }

        .sideBar li {
            margin-left: -3vw;
            margin-right: -0.01vw;
            font-size: 2vw;
        }

        .sideBar h1 {
            font-size: 3.5vw;
        }
    
        .mainPicture {    /*!!*/
            height: 50vw;
            width: 50vw;
            margin: 2vh 25vw;
        }
        .titleFull {
            text-align: center;
            vertical-align: top;
            
        }
            .titleFull h1{ /*!!*/
                font-size:7vw;
            }
            .titleFull h2{
                font-size: 5vw; /*!!*/
            }
            .titleFull h3{/*!!*/
                font-size: 3.5vw;
            }

            .titleFull p, li {
                margin: 2vh 37.5vw;
                text-align: center;
            }

        .mainTextArea h2 {/*!!*/
            text-align: center;
            font-size: 7vw;
        }

        .mainTextArea li {/*!!*/
            margin-left: -1vw;
            margin-right: -1vw;
            text-align: left;
            font-size: 5vw;
        }

        .mainTextArea p { /*!!*/
            font-size: 5vw;
        }

        .mainTextArea img {
            width: 100%;
        }
    .linkarea {
        width: 80vw;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        column-gap: 5%;
       
    }
        .linkarea li {
            margin-left: -1vw;
            margin-right: -1vw;
        }


    .linklist {
        text-align: center;
        /*display: none;*/
    }
        .linklist h1 {
            font-size:3vw;
        }

        .linklist h2 {
            font-size:2.5vw;
        }

        .linklist li {
            font-size: 4vw;
        }

    .videocontent {
        padding: 3% 10% 10% 10%;
    }
    .videocontent iframe {
        width: 90%;
        height: 40vw;
    }

    .videocontent img {
        width: 90%;
        height: 40vw;
    }

    .videocontent p {
        font-size: 5vw;
    }

    .videocontent li {
        font-size: 5vw;
        margin-left: -1vw;
        margin-right: -1vw;
    }

    .videocontent h1 {
        font-size: 4vw;
    }

    .videocontent h2 {
        font-size: 6vw;
        text-align: center;
    }
}


/*Here is the code for each the profile circular images*/

/*People*/
/*Jessica Lundquist*/
#profJessica{
    background-image: url(../src/Profile\ Pictures/JessicaProfile.jpg);
    background-position: top;
    background-size: cover;
}

/*Autumn Nguyen*/
#profAutumn{
    background-image: url(../src/Profile\ Pictures/AutumnProfile.jpg);
    background-position: top;
    background-size: cover;
}

/*Annalise Pree*/
#profAnnalise{
    background-image: url(../src/Profile\ Pictures/anna\ profile\ picture.PNG);
    background-position: top;
    background-size: cover;
}

/*Kehan Yang*/
#profKehan{
    background-image: url(../src/KehanYang_MHG_website.jpeg);
    background-position: top;
    background-size: cover;
}

/*Annika Prom*/
#profAnnika{
    background-image: url(../src/Profile\ Pictures/annika\ profile\ picture.PNG);
    background-position: top;
    background-size: cover;
}

/*Jori Carter*/
#profJori{
    background-image: url(../src/Profile\ Pictures/JoriProfile.jpg);
    background-position: center;
    background-size: cover;
}

/*Matthew Bonner*/
#profMatthew{
    background-image: url(../src/Profile\ Pictures/MatthewProfile.jpg);
    background-position: center;
    background-size: cover;
}

/*John Cramblitt*/
#profJohn{
    background-image: url(../src/Profile\ Pictures/JohnProfile.jpg);
    background-position: top;
    background-size: cover;
}

/*Joe Ammatelli*/
#profJoe{
    background-image: url(../src/Profile\ Pictures/JoeProfile.jpg);
    background-position: center left;
    background-size: cover;
}

/*Hannah Besso*/
#profHannah{
    background-image: url(../src/Profile\ Pictures/HannahProfile.jpg);
    background-position: center;
    background-size: cover;
}

/*Cassie Lumbrazo*/
#profCassie{
    background-image: url(../src/Profile\ Pictures/CassieProf.jpg);
    background-position: center;
    background-size: cover;
}

/*Steven Pestana*/
#profSteven{
    background-image: url(../src/Profile\ Pictures/StevenProfile.jpg);
    background-position: center;
    background-size: cover;
}

/*Danny Hogan*/
#profDanny{
    background-image: url(../src/Profile\ Pictures/DannyProfile.jpg);
    background-position: center;
    background-size: cover;
}

/*Justin Pflug*/
#profJustin{
    background-image: url(../src/Profile\ Pictures/JustinProfile.jpg);
    background-position: center;
    background-size: contain;
}

/*Calista Moore*/
#profCalista {
    background-image: url(../src/Profile\ Pictures/CalistaProfile.jpg);
    background-position: center;
    background-size: cover;
}

/*Ross Mower*/
#profRoss {
    background-image: url(../src/Profile\ Pictures/RossProfile.jpg);
    background-position: bottom;
    background-size: cover;
}

#profEli {
    background-image: url(../src/Profile\ Pictures/EliProfile.jpg);
    background-position: right;
    background-size: cover;
}

#profClinton {
    background-image: url(../src/Profile\ Pictures/ClintonProfile.jpeg);
    background-position: left;
    background-size: cover;
}

#profEmma {
    background-image: url(../src/Profile\ Pictures/SmallEmmaWaider.jpg);
    background-position: right;
    background-size: cover;
}
#profWillow {
    background-image: url(../src/Profile\ Pictures/whoins.jpeg);
    background-position: right;
    background-size: cover;
}


/*Research*/
/*Missing Snow*/
#profMissingSnow{
    background-image: url(../src/GothicMtn.jpg);
    background-position: center;
    background-size: cover;
}

/*Forests and Snow*/
#profForestAndSnow {
    background-image: url(../src/CassieAndStevenFieldWork.jpg);
    background-position: right;
    background-size: cover;
}



/*Intercomparison of Meteorological Forcing Data from Empirical and Mesoscale Model Sources*/
#profIMFDEMMS {
    background-image: url(../src/Copy\ of\ Ryan_Currier_Drone_Survey_Easton_Glacier_Mount_Baker_3.jpeg);
    background-position: center;
    background-size: cover;
}

/*Intermittent Snow and Process Dynamics*/
#profIntermittentSnowProcessDynamics {
    background-image: url(../src/Copy\ of\ Ryan_Currier_Drone_Survey_Easton_Glacier_Mount_Baker_3.jpeg);
    background-position: center;
    background-size: cover;
}

/*Mapping Temperature in Complex Terrain*/
#profMTICT {
    background-image: url(../src/Copy\ of\ Ryan_Currier_Drone_Survey_Easton_Glacier_Mount_Baker_3.jpeg);
    background-position: center;
    background-size: cover;
}

/*Meadow Ecology and Snow Climate*/
#profMEAC {
    background-image: url(../src/Copy\ of\ Ryan_Currier_Drone_Survey_Easton_Glacier_Mount_Baker_3.jpeg);
    background-position: center;
    background-size: cover;
}

/*OLYMPEX*/
#profOLYMPEX {
    background-image: url(../src/Copy\ of\ Ryan_Currier_Drone_Survey_Easton_Glacier_Mount_Baker_3.jpeg);
    background-position: center;
    background-size: cover;
}

/*Orographic Precipitation*/
#profOrographicPrecipitation {
    background-image: url(../src/Copy\ of\ Ryan_Currier_Drone_Survey_Easton_Glacier_Mount_Baker_3.jpeg);
    background-position: center;
    background-size: cover;
}

/*Rain on Snow Module*/
#profRainOnSnowModule {
    background-image: url(../src/Copy\ of\ Ryan_Currier_Drone_Survey_Easton_Glacier_Mount_Baker_3.jpeg);
    background-position: center;
    background-size: cover;
}

/*Rain vs Snow*/
#profRainVsSnow {
    background-image: url(../src/Copy\ of\ Ryan_Currier_Drone_Survey_Easton_Glacier_Mount_Baker_3.jpeg);
    background-position: center;
    background-size: cover;
}

/*Remote Sensing of Radiation*/
#profRemoteSensingOfRadiation {
    background-image: url(../src/Copy\ of\ Ryan_Currier_Drone_Survey_Easton_Glacier_Mount_Baker_3.jpeg);
    background-position: center;
    background-size: cover;
}

/*Silvicliture to Maximize Snow Retention*/
#profSTMSR {
    background-image: url(../src/Copy\ of\ Ryan_Currier_Drone_Survey_Easton_Glacier_Mount_Baker_3.jpeg);
    background-position: center;
    background-size: cover;
}

/*Snow Information for Wildlife Systems*/
#profSIFWS {
    background-image: url(../src/Copy\ of\ Ryan_Currier_Drone_Survey_Easton_Glacier_Mount_Baker_3.jpeg);
    background-position: center;
    background-size: cover;
}

/*Snow Patterns*/
#profSnowPatterns {
    background-image: url(../src/Copy\ of\ Ryan_Currier_Drone_Survey_Easton_Glacier_Mount_Baker_3.jpeg);
    background-position: center;
    background-size: cover;
}

/*Snow Temperature in the Sierra*/
#profSnowTemperature {
    background-image: url(../src/Copy\ of\ Ryan_Currier_Drone_Survey_Easton_Glacier_Mount_Baker_3.jpeg);
    background-position: center;
    background-size: cover;
}

/*Spatial Patterns of Snow Fed Streamflow*/
#profSPOSFS {
    background-image: url(../src/Copy\ of\ Ryan_Currier_Drone_Survey_Easton_Glacier_Mount_Baker_3.jpeg);
    background-position: center;
    background-size: cover;
}

/*Wildflowers and Snow*/
#profWildflowersAndSnow {
    background-image: url(../src/Copy\ of\ Ryan_Currier_Drone_Survey_Easton_Glacier_Mount_Baker_3.jpeg);
    background-position: center;
    background-size: cover;
}

/*Sublimation of Snow*/
#profSublimationOfSnow {
    background-image: url(../src/NewSOSLogo.jpg);
    background-position: center;
    background-size: cover;
}
/*Outreach*/
/*General*/
#profOutreach {
    background-image: url(../src/OlympexFieldCrew2.jpeg);
    background-position: center;
    background-size: cover;
}

/*Past Pages*/
#camerasInTrees {
    background-image: url(../src/camerasintrees/camfig5.jpg);
    background-position: center;
    background-size: cover;
}