.publishedContent{
    display: grid;
    grid-template-columns: 1fr 5fr 1fr;
}
.publishedContent a {
    color: blueviolet;
}

.publishedContent a:hover {
    color: grey;
}

.bannerImage{
    background-image: url(../src/Copy\ of\ IMG_9206.jpeg);
    background-size: cover;
}

.bannerImageToolBox{
    background-image: url(../src/Copy\ of\ IMG_9727.jpeg);
    background-size: cover;
    background-position: center;
}

.publicationYear{
    grid-column: 2;
}

.publicationYear h2{
    width: 100%;
    font-size: 1.7em;
    color: black;
    padding-top: 20px;
    padding-bottom: 20px;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

.publicationYear li{
    font-size: 1.3em;
    list-style: circle; 
    padding-bottom: 20px;
    margin-top: 20px;
    border-bottom: solid;
    border-width: 1px;
    border-color:#c9c6c6;
    
}