.bannerImage{
    grid-row: 1;
    background-image: url(../src/Copy\ of\ IMG_9727.jpg);
    background-size: cover;
    background-position: center;
}

.dataFull {
    width: 90%;
    display: grid;
    grid-template-columns: 1fr 3fr;
    margin: auto;
}

a {
    color: rgb(7, 5, 22);
}
    a:hover {
        color: grey
    }

.sideBar {
    grid-column: 1;
    padding-right: 5%;
    padding-top: 10%;
    width: 100%;
}

    .dataPicture {
        border-radius: 100%;
        height: 12%;
        width: 100%;
    }

    .titleFull {
        text-align: center;
        font-size:1.5vw;
        
    }

    .titleFull p {
        text-align: center;
        font-size: 1.5vw;
        padding-top: 5px;
        padding-bottom: 5px;
        border-top: 1px solid black;
        border-bottom: 1px solid black;
    }

    .titleFull a {
        color:blueviolet;
    }
.weatherblog {
    grid-column: 2;
    grid-template-rows: 2% 98%;
}

    .maintexttitle h2 {
        grid-row: 1;
        width: 100%;
        font-size: 2.5vw;
        color: black;
        padding-top: 10px;
        padding-bottom: 10px;
        border-top: 1px solid black;
        border-bottom: 1px solid black;
        text-align: center;
        margin-left: 5%;
        }

    .mainTextArea {
        grid-row: 2;
        /* is known to cause trouble*/
        width: 100%;
        padding-top: 1%; 
        padding-left: 5%;
    /* height: 40vw; */ 
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
        /* grid-template-rows: 1fr; change number of rows here*/
        column-gap: 3%; 
        row-gap: 0.3%; 
    }


        .weekofdata a:hover {
            color: rgb(117, 112, 112);
        }

        .weekofdata {
            width: 90%;
            height: 90%;
            background-color: rgba(236, 235, 235);
            margin: 2% 0;
            border-radius: 2%;
            padding: 2% 5% 3% 5%;
            
        }
            .weekofdata h1 {
                font-size: 1.8vw;
                padding-bottom: 1%;
            }

            .weekofdata img {
                max-width: 100%;
                height: auto;

            }

            .weekofdata p {
                font-size: 1.5vw;
                padding-bottom: 5%;
            }


#SublimationOfSnowDataPhoto {
    background-image: url(../src/DannyAndEliSnowPit.jpg);
    background-position: left;
    background-size: cover;
}

