.bannerImage{
    grid-row: 1;
    background-image: url(../src/Copy\ of\ IMG_9727.jpg);
    background-size: cover;
    background-position: center;
}

.dataFull {
    width: 90%;
    display: grid;
    grid-template-columns: 1fr 3fr;
    margin: auto;
}

a {
    color: rgb(7, 5, 22);
}
    a:hover {
        color: grey
    }

.sideBar {
    grid-column: 1;
    padding-right: 5%;
    padding-top: 10%;
    width: 100%;
}

    .dataPicture {
        border-radius: 100%;
        height: 300px;
        width: 100%;
    }

    .titleFull {
        text-align: center;
        font-size:1.5vw;
        
    }

    .titleFull p {
        text-align: center;
        font-size: 1.5vw;
        padding-top: 5px;
        padding-bottom: 5px;
        border-top: 1px solid black;
        border-bottom: 1px solid black;
    }

    .titleFull a {
        color:blueviolet;
    }
.weatherblog {
    grid-column: 2;
    grid-template-rows: 2% 30% 68%;
}

    .maintexttitle h2 {
        grid-row: 1;
        width: 100%;
        font-size: 2.5vw;
        color: black;
        padding-top: 10px;
        padding-bottom: 10px;
        border-top: 1px solid black;
        border-bottom: 1px solid black;
        text-align: center;
        margin-left: 5%;
        }

    .mainTextArea {
        grid-row: 2;
        /* is known to cause trouble*/
        width: 100%;
        padding-top: 1%; 
        padding-left: 5%;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
        column-gap: 3%; 
        row-gap: 0.3%; 
    }

    .lowermaintextarea {
        grid-row: 2;
        /* is known to cause trouble*/
        width: 100%;
        padding-top: 1%; 
        padding-left: 5%;
        
    }

    .lowermaintextarea a {
        color:blueviolet;
    }

    .lowermaintextarea img {
        width: 70%;
        display: block;
        margin: auto;
    }

        .weekofdata a:hover {
            color: rgb(117, 112, 112);
        }

        .weekofdata {
            width: 90%;
            height: 90%;
            background-color: rgba(236, 235, 235);
            margin: 2% 0;
            border-radius: 2%;
            padding: 2% 5% 3% 5%;
            
        }
            .weekofdata h1 {
                font-size: 1.65vw;
                padding-bottom: 1%;
            }

            .weekofdata img {
                width: 100%;
                height: 47%;

            }

            .weekofdata p {
                font-size: 1.25vw;
                padding-bottom: 5%;
            }


#SublimationOfSnowDataPhoto {
    background-image: url(../src/DannyAndEliSnowPit.jpg);
    background-position: left;
    background-size: cover;
}

#Snoqualmie {
    background-image: url(../src/SnoqualmieSnowPit.jpg);
    background-position: center;
    background-size: cover;
}

/*Media Queries*/
@media only screen and (max-width: 1200px) {
    .dataFull {
        width: 100vw;
        display: block;
    }
    
    .sideBar{
        width: 100%;
        padding: 0;
        display: block;
    }
    
        .dataPicture {
            border-radius: 100%;
            height: 25vw;
            width: 25vw;
            margin: 2vh 37.5vw;
        }
        .titleFull {
            text-align: center;
            vertical-align: top;
        }
            .titleFull h1{
                font-size: 2.5vw;
            }
            .titleFull p{
                font-size: 2vw;
            }

    
    .mainTextArea {
        padding: 5vw;
        width: 90vw;

    }
        
    .weekofdata p {
        font-size: 2vw;
    }

    .weekofdata h1 {
        font-size: 2.6vw;
    } 
}