.bannerImage{
    grid-row: 1;
    background-image: url(../src/Copy\ of\ IMG_9727.jpg);
    background-size: cover;
    background-position: center;
}

.dataFull {
    width: 90%;
    display: grid;
    grid-template-columns: 1fr 3fr;
    margin: auto;
}

a {
    color: rgb(7, 5, 22);
}
    a:hover {
        color: grey
    }

.sideBar {
    grid-column: 1;
    padding-right: 5%;
    padding-top: 10%;
    width: 100%;
}

    .dataPicture {
        border-radius: 100%;
        height: 330px;
        width: 100%;
    }

    .titleFull {
        text-align: center;
        font-size:1.5vw;
        
    }

    .titleFull p {
        text-align: center;
        font-size: 1.5vw;
        padding-top: 5px;
        padding-bottom: 5px;
        border-top: 1px solid black;
        border-bottom: 1px solid black;
    }

    .titleFull a {
        color:blueviolet;
    }

.ContentArea {
    grid-column: 2;
    grid-template-rows: 2% 30%;
}

    .maintexttitle h2 {
        grid-row: 1;
        width: 95%;
        font-size: 2.5vw;
        color: black;
        padding-top: 10px;
        padding-bottom: 10px;
        border-top: 1px solid black;
        border-bottom: 1px solid black;
        text-align: center;
        margin-left: 5%;
        }


/*This section is used in the new data pages*/
.lowermaintextarea {
    grid-row: 2;
    /* is known to cause trouble*/
    width: 95%;
    padding-top: 1%; 
    padding-left: 5%;
    
}

    .lowermaintextarea a {
        color:blueviolet;
    }

    .lowermaintextarea img {
        width: 70%;
        display: block;
        margin: auto;
    }

    .lowermaintextarea h3 {
        font-size: 16px;
        text-decoration: underline;
    }

    .lowermaintextarea p, i {
        font-size: 1.25vw;
    }

.fullpagecontent {
    grid-row: 3;
    /* is known to cause trouble*/
    width: 95%;
    padding-top: 1%; 
    padding-left: 5%;
}

    .fullpagecontent h2 p {
        text-align: center;
    }

    .fullpagecontent a {
        color: blueviolet;
    }

       

.datasection {
    width: 85%;
    padding-top: 1%;
    padding-bottom: 2vw; 
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    column-gap: 3%;
    row-gap: 2vw;
}


    .datatile {
        width: 90%;
        height: 90%;
        background-color: rgba(236, 235, 235);
        margin: 2% 0 5% 0;
        border-radius: 2%;
        padding: 2% 5% 3% 5%;
        
    
    }
        .datatile h1 {
            font-size: 1.65vw;
            padding-bottom: 1%;
        }

        .datatile img {
            width: 100%;
            height: 47%;
        }

        .datatile li {
            font-size: 1.1vw;
            padding-bottom: 5%;
        }

        .datatile a {
            color: blueviolet;
        }

        .datatile b {
            font-size: 1vw;
        }

        .datatile p {
            font-size: 1.5vw;
            padding-bottom: 5%;
        }
    


/*Proven code for link tile*/

.datatileclick a {
    display: grid;
    width: 90%;
    min-height: 100%;
    background-color: rgba(236, 235, 235);
    border-radius: 10px;
    padding: 0% 5% 0% 5%;
    color:black;
}


    .datatileclick p {
        font-size: 1.75vw;
        padding: 2% 0% 2% 0%;
        font-weight:bolder;
    }

    .datatileclick h1 {
        font-size: 1.65vw;
        padding-bottom: 1%;
    }

    .datatileclick h3 {
        font-size: 1.25vw;
    }

    .datatileclick img {
        width: 100%;
        height: 47%;
    }

    .datatileclick li {
        font-size: 1.75vw;
        padding-bottom: 5%;
    }

    .datatileclick a:hover {
        background-color: rgb(248, 247, 247);
    }

.classinfo {
    margin-left: 5%;
    margin-right: 5%;
}
/*End test code*/
/*Photo ids*/
#Yosemite {
    background-image: url(../src/DataImages/HannahXS.JPG);
    background-position: center;
    background-size: cover;
}

#MtRainier {
    background-image: url(../src/Copy\ of\ IMG_7435.jpeg);
    background-position: center;
    background-size: cover;
}

#CedarRiver{
    background-image: url(../src/080904-132032.jpg);
    background-position: center;
    background-size: cover;
}

#NorthCascades{
    background-image: url(../src/080927-223706.jpg);
    background-position: center;
    background-size: cover;
}

/*Media Queries*/
@media only screen and (max-width: 1200px) {
    .dataFull {
        width: 100vw;
        display: block;
    }
    
    .sideBar{
        width: 100%;
        padding: 0;
        display: block;
    }
    
        .dataPicture {
            border-radius: 100%;
            height: 25vw;
            width: 25vw;
            margin: 2vh 37.5vw;
        }
        .titleFull {
            text-align: center;
            vertical-align: top;
        }
            .titleFull h1{
                font-size: 2.5vw;
            }
            .titleFull p{
                font-size: 1.25vw;
            }
    
    .maintexttitle {
        width: 90vw;
    }
    
    .mainTextArea {
        padding: 5vw;
        width: 90vw;

    }
     
    .lowermaintextarea p {
        font-size: 1.75vw;
    }
  
    .datatile {
        height: 90%;
    }
  
        .datatile li {
            font-size: 2vw;
        }

        .datatile h1 {
            font-size: 2.6vw;
        } 

.datatileshort {
    min-height: 50%;
}       

    .datatileshort li {
        font-size: 2vw;
        }

    .datatileshort p {
        font-size: 2vw;
        }

    .datatileshort b {
        font-size: 2vw;
        }

    .datatileshort h1 {
        font-size: 2.6vw;
    } 


}

@media only screen and (max-width: 500px) {
    
        .dataPicture {
            height: 80vw;
            width: 80vw;
            margin: 5vw 0 0 10vw;
        }
        .titleFull {
            text-align: center;
            vertical-align: top;
        }
            .titleFull h1{
                font-size: 2.5vw;
            }
            .titleFull p{
                font-size: 1.25vw;
            }
    
    .maintexttitle {
        width: 90vw;
    }
    
    .mainTextArea {
        padding: 5vw;
        width: 90vw;

    }
     
    .lowermaintextarea p {
        font-size: 1.75vw;
    }
  
    .datatile {
        height: 90%;
    }
  
        .datatile li {
            font-size: 2vw;
        }

        .datatile h1 {
            font-size: 2.6vw;
        } 

.datatileshort {
    min-height: 50%;
}       

    .datatileshort li {
        font-size: 2vw;
        }

    .datatileshort p {
        font-size: 2vw;
        }

    .datatileshort b {
        font-size: 2vw;
        }

    .datatileshort h1 {
        font-size: 2.6vw;
    } 


}