.bannerImage{
    grid-row: 1;
    background-image: url(../src/Copy\ of\ IMG_9727.jpg);
    background-size: cover;
    background-position: center;
}

.dataFull {
    width: 90%;
    display: grid;
    grid-template-columns: 1fr 3fr;
    margin: auto;
}

a {
    color: rgb(7, 5, 22);
}
    a:hover {
        color: grey
    }

.sideBar {
    grid-column: 1;
    padding-right: 5%;
    padding-top: 10%;
    width: 100%;
}

    .dataPicture {
        border-radius: 100%;
        height: 330px;
        width: 100%;
    }

    .titleFull {
        text-align: center;
        font-size:1.5vw;
        
    }

    .titleFull p {
        text-align: center;
        font-size: 1.5vw;
        padding-top: 5px;
        padding-bottom: 5px;
        border-top: 1px solid black;
        border-bottom: 1px solid black;
    }

    .titleFull a {
        color:blueviolet;
    }

.ContentArea {
    grid-column: 2;
    grid-template-rows: 2% 30%;
}

    .maintexttitle h2 {
        grid-row: 1;
        width: 95%;
        font-size: 2.5vw;
        color: black;
        padding-top: 10px;
        padding-bottom: 10px;
        border-top: 1px solid black;
        border-bottom: 1px solid black;
        text-align: center;
        margin-left: 5%;
        }


/*This section is used in the new data pages*/
.lowermaintextarea {
    grid-row: 2;
    /* is known to cause trouble*/
    width: 95%;
    padding-top: 1%; 
    padding-left: 5%;
    
}

.fullpagecontent {
    grid-row: 3;
    /* is known to cause trouble*/
    width: 95%;
    padding-top: 1%; 
    padding-left: 5%;
}

.fullpagecontent h2 p {
    text-align: center;
}

.fullpagecontent a {
    color: blueviolet;
}

        .lowermaintextarea a {
            color:blueviolet;
        }

        .lowermaintextarea img {
            width: 70%;
            display: block;
            margin: auto;
        }

        .lowermaintextarea h3 {
            font-size: 16px;
            text-decoration: underline;
        }

        .lowermaintextarea p {
            font-size: 1.25vw;
        }

        .datasection {
            width: 85%;
            padding-top: 1%; 
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr;
            column-gap: 3%;
            row-gap: 1%;
        }


    .datatile {
        width: 90%;
        height: 78%;
        background-color: rgba(236, 235, 235);
        margin: 2% 0 5% 0;
        border-radius: 2%;
        padding: 2% 5% 3% 5%;
        border-style: solid;
        
    
    }
        .datatile h1 {
            font-size: 1.65vw;
            padding-bottom: 1%;
        }

        .datatile img {
            width: 100%;
            height: 47%;
        }

        .datatile p {
            font-size: 1vw;
            padding-bottom: 5%;
        }

        .datatile a {
            color: blueviolet;
        }

        .datatile b {
            font-size: 1vw;
        }

    .datatile2 {
        width: 90%;
        height: 90%;
        background-color: rgba(236, 235, 235);
        margin: 2% 0 2% 0;
        border-radius: 2%;
        padding: 2% 5% 3% 5%;
        border-style: solid;
    }
        .datatile2 h1 {
            font-size: 1.65vw;
            padding-bottom: 1%;
        }

        .datatile2 img {
            width: 100%;
            height: 47%;
        }

        .datatile2 p {
            font-size: 1vw;
            padding-bottom: 5%;
        }

    .datatileshort {
        width: 90%;
        height: 50%;
        background-color: rgba(236, 235, 235);
        margin: 2% 0;
        border-radius: 2%;
        padding: 2% 5% 3% 5%;
        border-style: solid;
    }
        .datatileshort h1 {
            font-size: 1.65vw;
            padding-bottom: 1%;
        }

        .datatileshort h3 {
            font-size: 1.25vw;
        }
    
        .datatileshort img {
            width: 100%;
            height: 47%;
        }
    
        .datatileshort p {
            font-size: 1vw;
            padding-bottom: 5%;
            font-weight:bold;
        }

        .datatileshort a {
            color: blueviolet;
        }

        .datatileshort li {
            font-size: 1vw;
        }

    .datatilecedar {
        width: 90%;
        height: 85%;
        background-color: rgba(236, 235, 235);
        margin: 2% 0;
        border-radius: 2%;
        padding: 2% 5% 3% 5%;
        margin-left: 22%;
        border-style: solid;    
        
    }
        
        .datatilecedar h1 {
            font-size: 1.65vw;
            padding-bottom: 1%;
        }
    
        .datatilecedar img {
            width: 100%;
            height: 47%;
        }
    
        .datatilecedar p {
            font-size: 1.25vw;
            padding-bottom: 5%;
        }
    
        .datatilecedar a {
            color: blueviolet;
        }

/*Photo ids*/
#Yosemite {
    background-image: url(../src/DataImages/HannahXS.JPG);
    background-position: center;
    background-size: cover;
}

#MtRainier {
    background-image: url(../src/Copy\ of\ IMG_7435.jpeg);
    background-position: center;
    background-size: cover;
}

#CedarRiver{
    background-image: url(../src/080904-132032.jpg);
    background-position: center;
    background-size: cover;
}

/*Media Queries*/
@media only screen and (max-width: 1200px) {
    .dataFull {
        width: 100vw;
        display: block;
    }
    
    .sideBar{
        width: 100%;
        padding: 0;
        display: block;
    }
    
        .dataPicture {
            border-radius: 100%;
            height: 25vw;
            width: 25vw;
            margin: 2vh 37.5vw;
        }
        .titleFull {
            text-align: center;
            vertical-align: top;
        }
            .titleFull h1{
                font-size: 2.5vw;
            }
            .titleFull p{
                font-size: 1.25vw;
            }
    
    .maintexttitle {
        width: 90vw;
    }
    
    .mainTextArea {
        padding: 5vw;
        width: 90vw;

    }
     
    .lowermaintextarea p {
        font-size: 1.75vw;
    }
  
    .datatile {
        height: 85%;
    }
  
        .datatile li {
            font-size: 2vw;
        }

        .datatile h1 {
            font-size: 2.6vw;
        } 

        .datatile2 li {
            font-size: 2vw;
        }

    .datatile2 h1 {
        font-size: 2.6vw;
    } 


}